.todo-list {
  padding: 30px;
}

.working-sec {
  margin-bottom: 50px;
}

.list-wrapper {
  display: flex;
  justify-content: flex-start;
  gap: 14px;
}

.todo-container {
  min-width: 212px;
  padding: 24px;

  display: flex;
  /*align-items: center;*/
  flex-direction: column;

  border-radius: 14px;
  background-color: #fff;
  box-shadow: 4px 12px 30px 6px rgba(0, 0, 0, 0.09);
}

.todo-container > h3 {
  margin: 0 0 10px;
}

.todo-container > .todo-text {
  margin-bottom: 20px;
}
.todo-button {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.todo-button > button {
  flex: 1;

  padding: 0 12px;
  border: 0;
  border-radius: 52px;
  font-size: 16px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: -1px;
  color: #444;
  background-color: #d1d1d1;
}

.todo-button > .complete-button {
  background-color: #57ffbc;
}
