.layout {
  max-width: 1200px;
  min-width: 800px;
  margin: 0 auto;
}

button {
  font-family: "Noto Sans KR", sans-serif;
}

.todo-head {
  margin: 20px 30px;
  display: flex;
  justify-content: space-between;
}
